<template>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
        </div>
        <div class="column is-9">
          <h2  class="title">{{editMode? 'Edit Post': 'Add Post'}}</h2>

          <form method="post" @submit.prevent="createPost(newPost.title,newPost.body)">
            <div class="field">
              <label class="label">Title</label>

              <p class="control">
                <input
                    class="input"
                    v-model="newPost.title"
                    placeholder="Post title">
              </p>
            </div>

            <div class="field">
              <label class="label">Content</label>

              <p class="control">
                                <textarea
                                    class="textarea"
                                    rows="10"
                                    v-model="newPost.body"
                                    placeholder="Post content"
                                ></textarea>
              </p>
            </div>

            <p class="control">
              <button v-if="!editMode" class="button is-primary">Add Post</button>
              <button v-else @click="updatePost" class="button is-primary">Edit Post</button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import gql from "graphql-tag"

export const ADD_POST_MUTATION = gql`
    mutation ($input: CreatePostInput!) {
        createPost(input: $input) {
            id
            title
            body
        }
    }`
const ALL_POSTS_QUERY = gql`
    query {
      posts {
        data {
          id
          title
          body
        }
      }
    }`

export default {
  name: 'CreatePost',
  data() {
    return {
      posts:[],
      newPost:{
        title: '',
        body: ''
      },
      getPostByIdQuery: `
        query {
          post(id: 1) {
            id
            title
            body
          }
        }`,
      updatePostMutation: `
        mutation ($id: ID!, $input: UpdatePostInput!) {
          updatePost(id: $id, input: $input) {
            id
            title
            body
          }
        }`
    }
  },
  computed:{
    editMode(){
      return !!this.$route.query.edit
    }
  },
  methods: {
    async createPost () {
      return await this.$apollo.mutate({
        mutation: ADD_POST_MUTATION,
        variables: {
          input: {
            title: this.newPost.title,
            body: this.newPost.body,
          }
        },
         update: (store, { data: { createPost } }) => {
           // read data from cache for this query
           const data = store.readQuery({query: ALL_POSTS_QUERY})
           console.log("Data.posts", data.posts.data)
           // add new post from the mutation to existing posts
           data.posts.data.push(createPost)
           // write data back to the cache
           store.writeQuery({query: ALL_POSTS_QUERY, data})
         }
       }).then(response => {
        this.$router.replace('/')
        console.log(response)
        console.log(this.id)
      })
    },
    async getPost() {
      let {data} = await this.$apollo.query({
        query: gql`${this.getPostByIdQuery}`,
        variables:{
          id:this.$route.query.edit
        }
      })
      console.log("Data:", data);
      this.newPost=data.post
      console.log(data.post)
    },
    updatePost(){
      this.$apollo.mutate({
        mutation: gql`${this.updatePostMutation}`,
        variables: {
          id: this.$route.query.edit,
          input: {
            title: this.newPost.title,
            body: this.newPost.body
          }
        }
      });
      this.$router.push('/')
    }
  },
  created(){
    if(this.editMode) {
      this.getPost();
    }
  }
}
</script>
