<template>
  <div class="showPost">
    <div class="card">
      <div class="card-header">
        Post:
      </div>
      <div class="card-body">
        <h3>{{post.id}}</h3>
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.body}}</p>
        <router-link to="/" @click="ss()" class="btn btn-primary">Go to list of posts</router-link>
      </div>
    </div>
  </div>

</template>

<script>
import gql from "graphql-tag"

export const POST_QUERY = gql`
    query ($id: ID!)
     {
        post(id: $id) {
            id
            title
            body
        }
    }`

export default {
  name: "showPost",
  methods:{
    ss(){
      console.log(this.post)
    }
  },
  data() {
    return {
      post: '',
    }
  },
  apollo: {
    post: {
      query : POST_QUERY,
      variables() {
        return {
          id: this.$route.params.id
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
